.gitattributes

# jshint config
.jshintrc

# build & test artifacts
node_modules
build

# Yarn and Docusaurus generated state
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
website/.docusaurus
website/build
website/static/examples
website/static/modules
website/static/robots.txt
modules/tangram-layers/dist

# OS misc
.DS_Store

#
*.sublime-project
*.sublime-workspace

# storing some screenshots here
screenshots
